{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}

{% endblock %}

{% block body %}


<div class="container">
        <div class="effetneon">
            Accueil<br>
            <span></span>
        </div>
    </div>


	<div class="secondPartHome">
		<div class="descriptionEtJeu">
			<div class="bar">
				<h2>Bienvenue</h2>
			</div>
			<div class="jeu">
				<h2>Jeu de la tournée</h2>
				<a class="button" href="/game">Jouer</a>
			</div>
		</div>
		<div class="linkbox">
			<div class="carte">
				<h2>Où allons nous?</h2>
				<a class="button" href="/bar">Trouver un bar</a>
			</div>
			<div class="contactUs">
				<h2>Contactez Nous!</h2>
				<a class="button" href="/contact">Contact</a>
			</div>
		</div>
	</div>
{% endblock %}
