{% extends 'base.html.twig' %}

{% block title %}Jeux
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('gameIndex') }}
{% endblock %}

{% block body %}
	<div class="container">
        <div class="effetneon">
            Jeux<br>
            <span></span>
        </div>
    </div>
	<div class="game_list">
		<div class="morpion">

			<h1>Morpion</h1>
			<a class="button" href="{{ path('game_morpion') }}">Jouer</a>
		</div>
		<div class="pifpafpouf">

			<h1>Pifpafpouf</h1>
			<a class="button" href="{{ path('game_pifpafpouf') }}">Jouer</a>
		</div>


	</div>
{% endblock %}
