{% extends 'base.html.twig' %}

{% block title %}New Product
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
	<div class="index_title">
		<h1>Nouveau produit</h1>
	</div>

	{{ include('product/_form.html.twig') }}
{% endblock %}
