{% extends 'base.html.twig' %}

{% block title %}New Bar
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
	<div class="index_title">
		<h1>Nouveau bar</h1>
	</div>

	{{ include('bar/_form.html.twig') }}

	<a href="{{ path('bar_index') }}">Retour</a>
{% endblock %}
