@import "app.scss";
body {
    color: white;
}
.title {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    h1 {
        font-size: 50px;
        text-shadow: rgb(135, 153, 255) 1px 0 20px;
    }
}

.card_bar {
    margin: 1rem auto 1rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;

    .description_bar {
        display: flex;
        flex-direction: column;
        margin: 0 2rem 1rem 2rem;
    }
    .bar_type {
        color: white;
        text-align: center;
        margin: 1rem auto 1rem auto;
        font-size: 40px;
    }
    .bar_phone {
        color: white;
        text-align: center;
        margin: auto;
        font-size: 30px;
    }
    .bar_address {
        color: white;
        text-align: center;
        margin: auto;
        font-size: 30px;
    }
    .image_bar {
        display: flex;
        width: 100%;
        img {
            object-fit: cover;
            object-position: center;
            height: auto;
            width: 100%;
            margin: 1rem 2rem 1rem 2rem;
        }
    }
    .bar_description {
        width: 95%;
        margin: auto;
        margin-top: 2rem;
        text-align: left;
        .bar_address {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
}

.button_back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    a {
        background: black;
        color: white;
        font-size: 15px;
        border-radius: 27px;
        text-decoration: none;
        width: 130px;
        text-align: center;
        border: solid 0.5px white;
        margin: 1rem auto auto 2rem;
    }
}
.button_carte {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;

    a {
        background: black;
        color: white;
        font-size: 15px;
        border-radius: 27px;
        text-decoration: none;
        width: 130px;
        text-align: center;
        border: solid 0.5px white;
        margin: 1rem auto auto auto;
    }
}
.comment_space {
    display: flex;
    flex-direction: column;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 80%;
    .comment {
        text-align: left;
        margin-top: 1rem;
        background-color: rgba(128, 128, 128, 0.329);
        border-radius: 5px;
        div{
            margin: 1rem auto auto 1rem;
        }
    }
}
.bar_no_phone {
    color: rgb(255, 186, 96);
}
.segment_form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.1rem;
    text-align: center;
    width: 80%;
    margin: auto;

    label {
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5rem;
    }
    input {
        max-width: 1000px;
        border-radius: 20px;
    }
    
}
@media screen and (min-width: 900px) {
    .card_bar {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: auto;
        .image_bar {
            display: flex;
            width: 34%;
        }
        .description {
            width: 1000px;
            text-align: left;
            .bar_address {
                font-size: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}
textarea{
        width:1000px; 
    }