@import "app.scss";

.main {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem auto 1rem;
}
.card_bar {
    margin: 1rem auto 1rem auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;

    .description_bar {
        width: 78%;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
    }
    .image_bar {
        display: flex;
        width:6rem;
        img {
            object-fit: cover;
            object-position: center;
            height: 6rem;
            width: 6rem;
        }
    }
}
