@import "app.scss";
.effetneon {
    font-size: 4rem;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px rgb(18, 110, 230), 0 0 77px rgb(18, 110, 230),
        0 0 100px rgb(18, 110, 230);
    animation: lumiere 1s infinite ease;
}

.effetneon span {
    font-size: 6rem;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
}
.game_list {
    margin-top: 5rem;
    .morpion {
        margin-top: 4rem;
        background: url(/public/build/images/morpion.png);
        margin: 2rem 2rem auto 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;

        background-size: cover;
        align-items: center;
        height: 10rem;
        h1 {
            box-shadow: rgb(0, 0, 0);
            text-align: center;
            color: rgb(255, 255, 255);
            text-shadow: rgb(0, 0, 0) 1px 0 11px;
            background-color: rgba(8, 44, 79, 0.392);
            border-radius: 10px;
        }
        a {
            background: black;
            color: white;
            font-size: 20px;
            border-radius: 27px;
            text-decoration: none;
            width: 123px;
            text-align: center;
            border: solid 0.5px white;
        }
    }
    .pifpafpouf {
        margin-top: 4rem;
        background: url(/public/build/images/pifpafpouf.png);
        margin: 2rem 2rem auto 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        background-size: cover;
        object-fit: cover;
        background-position: center;
        align-items: center;
        height: 10rem;
        h1 {
            box-shadow: rgb(0, 0, 0);
            text-align: center;
            color: rgb(255, 255, 255);
            text-shadow: rgb(0, 0, 0) 1px 0 11px;
            background-color: rgba(8, 44, 79, 0.392);
            border-radius: 10px;
        }
        a {
            background: black;
            color: white;
            font-size: 20px;
            border-radius: 27px;
            text-decoration: none;
            width: 123px;
            text-align: center;
            border: solid 0.5px white;
        }
    }
}
@media screen and (min-width: 900px) {
    .game_list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        margin: 1rem auto auto auto;
        .pifpafpouf {
            width: 45%;
            height: 20rem;
        }
        .morpion {
            width: 45%;
            height: 20rem;
        }
    }
}
@keyframes lumiere {
    0% {
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px rgb(18, 110, 230), 0 0 77px rgb(18, 110, 230),
            0 0 100px rgb(18, 110, 230);
    }
    50% {
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 32px rgb(18, 110, 230), 0 0 87px rgb(18, 110, 230),
            0 0 120px rgb(18, 110, 230);
    }
    100% {
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 32px rgb(18, 110, 230), 0 0 87px rgb(18, 110, 230),
            0 0 120px rgb(18, 110, 230);
    }
}
