@import "app.scss";

.topnav {
    overflow: hidden;
    position: relative;
    border-bottom: var(--font-color) solid 2px;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    display: block;
}

.fa {
    font-size: xxx-large;
}

.topnav a.icon {
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0.5rem;
    color: white;
}

.active {
    background-color: #04aa6d;
    color: white;
}

.topnav a img {
    height: 80px;
    width: 60px;
}

#logoMenu img {
    height: 40px;
}

.topnav {
    background: rgb(0, 0, 0);
    box-shadow: rgb(255, 255, 255) 1px 0 20px;
}

#myLinks a {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

div.card div a {
    font-size: large;
}

@media screen and (min-width: 600px) {
    .topnav #myLinks {
        display: flex;
        font-size: smaller;
    }

    .topnav {
        display: flex;
        align-items: center;
    }

    #myLinks a {
        font-size: 25px;
        margin-right: 4%;
    }

    .icon {
        width: 0;
    }

    #myLinks {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .fa {
        display: none;
    }

    a .icon {
        width: 0%;
        height: 0%;
    }

    .topnav a.icon {
        background: rgb(0, 0, 0);
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    .active {
        background-color: #04aa6d;
        color: white;
    }

    .topnav a img {
        width: 40px;
    }

    #logoMenu img {
        height: 40px;
    }

    .topnav {
        background: rgb(0, 0, 0);
        box-shadow: rgb(255, 255, 255) 1px 0 20px;
    }

    html {
        background: rgb(0, 0, 0);
    }
}
@media screen and (min-width: 900px) {
    .topnav a img {
        width: 65px;
    }
    #myLinks a {
        font-size: 25px;
        margin-right: 3%;
        font-family: "Helvetica Neue", sans-serif;
    }
    #myLinks a:hover {
        color: #fff;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa,
            0 0 102px #0fa, 0 0 151px #0fa;
        animation: flicker 1.5s infinite alternate;
        font-family: "Helvetica Neue", sans-serif;
    }
}
@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa,
            0 0 100px #0fa, 0 0 150px #0fa;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }  
}
