@import "app.scss";

.topnav {
    overflow: hidden;
    position: relative;
    border-bottom: var(--font-color) solid 2px;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    display: block;
}

.fa {
    font-size: xxx-large;
}

.topnav a.icon {
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0.5rem;
    color: white;
}

.active {
    background-color: #04aa6d;
    color: white;
}

.topnav a img {
    height: 80px;
    width: 60px;
}

#logoMenu img {
    height: 40px;
}

.topnav {
    background: rgb(0, 0, 0);
    box-shadow: rgb(255, 255, 255) 1px 0 20px;
}

#myLinks a {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

div.card div a {
    font-size: large;
}

@media screen and (min-width: 600px) {
    .topnav #myLinks {
        display: flex;
        font-size: smaller;
    }

    .topnav {
        display: flex;
        align-items: center;
    }

    #myLinks a {
        font-size: 25px;
        margin-right: 4%;
    }

    .icon {
        width: 0;
    }

    #myLinks {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .fa {
        display: none;
    }

    a .icon {
        width: 0%;
        height: 0%;
    }

    .topnav a.icon {
        background: rgb(0, 0, 0);
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    .active {
        background-color: #04aa6d;
        color: white;
    }

    .topnav a img {
        width: 40px;
    }

    #logoMenu img {
        height: 40px;
    }

    .topnav {
        background: rgb(0, 0, 0);
        box-shadow: rgb(135, 153, 255) 1px 0 20px;
    }

    html {
        background: rgb(0, 0, 0);
    }
}
