@import "app.scss";

.title {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    h1 {
        font-size: 50px;
        text-shadow: rgb(135, 153, 255) 1px 0 20px;
    }
}
.main {
    text-align: center;
    h1 {
        margin: 2rem auto 5rem auto;
        text-align: center;
        color: white;
    }
}
.button_back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    a {
        background: black;
        color: white;
        font-size: 15px;
        border-radius: 27px;
        text-decoration: none;
        width: 130px;
        text-align: center;
        border: solid 0.5px white;
        margin: 1rem auto auto 2rem;
    }
}
