{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('contact') }}
{% endblock %}
{% block body %}
	<div class="container">
        <div class="effetneon">
            Contactez nous!<br>
            <span></span>
        </div>
    </div>
	<div class="message">
		<h2>
			Besoin de conseils? Une envie de nous aider à améliorer l'abbé bière? N'hésites pas et entre en contact avec nous à l'adresse suivante:
		</h2>
		<a href="mailto:abbé-biere@contact.com ">
			<div>
				<h2>abbé-biere@contact.com</h2>
			</div>
		</a>
	</div>
{% endblock %}
